/*========== Common Start ==========*/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'poppins', sans-serif;
}

.half-width {
    max-width: 50%;
    width: 100%;
    padding: 32px 40px;
}

img{
    width: 100%;
}

section {
    margin-bottom: 30px;
}

h1 {
    font-size: 50px;
    font-weight: 600;
}

h2 {
    font-size: 35px;
    font-weight: 600;
}

h3 {
    font-size: 25px;
    font-weight: 600;
}

p {
    letter-spacing: 0.7px;
}

/*========== Common End ==========*/


/*========== Hero Start ==========*/

.hero {
    display: flex;
    background: url("../../resources/images/top-banner.png");
    background-repeat: no-repeat;
}

.hero-title {
    margin-top: 80px;
    padding-left: 50px;
}

.orange-tone {
    color: orange;
}

.hero-title h3 {
    margin: 30px 0 20px;
}

.hero-title p {
    margin-bottom: 30px;
}

.act-btn {
    position: absolute;
    text-transform: uppercase;
    background-image: linear-gradient(to right, orange, tomato);
    padding: 7px 20px;
    text-decoration: none;
    color: white;
    border-radius: 7px;
    box-shadow: 0 2px 5px #a0a0a0;
    cursor: pointer;
    transition: all 0.1s ease-in;
}

.act-btn:hover {
    box-shadow: 0 3px 5px #a0a0a0;
}

/*========== Hero End ==========*/


/*========== Dream Big Start ==========*/

.dream-big {
    display: flex;
    background-image: url("../../resources/images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

.dream-title {
    margin-top: 100px;
}

.dream-title h2 {
    margin-bottom: 20px;
}

.dream-title h3 {
    margin-bottom: 10px;
}

.dream-title p {
    margin-bottom: 50px;
}

/*========== Dream Big End ==========*/


/*========== Experience Start ==========*/

.experience {
    background-image: url("../../resources/images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left center;
    margin-bottom: 50px;
}

.experience h1 {
    text-align: center;
    margin-bottom: 25px;
}

.exp-sec {
    display: flex;
    justify-content: space-evenly;
}

.exp-1, .exp-2 {
    padding: 30px 10px 30px 30px;
    max-width: 40%;
    min-height: 300px;
    box-shadow: 1px 5px 40px gray;
    border-left: 5px solid;
    border-radius: 7px;
}

.exp-1 h2, .exp-2 h2 {
    margin-bottom: 30px;
}

.exp-1 h3, .exp-2 h3 {
    margin-bottom: 15px;
    color: orange;
}

.exp-1 p, .exp-2 p {
    margin-bottom: 10px;
}

.exp-1 {
    border-image: linear-gradient(#ff3c00, tomato) 1;
}

.exp-2 {
    border-image: linear-gradient(blue, cyan) 1;
}

/*========== Experience End ==========*/